<!doctype html>
<html lang="en">
<meta charset="utf-8">

<title>Demo of ngValidate Module</title>

<meta name="description" content="Demo of ngValidate Module">
<meta name="author" content="Rijul Bansal">

<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet">
<link href="demo-style.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<body>

<!-- BEGIN DEMO -->

<div class="container" ng-app="demoModule">

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">Angular ngValidate</a>
    </div>
  </div>

  <div class="hero-unit">

    <div ng-controller="DemoCtrl">

        <div class="row">
            <div class="col-xs-12 alert-info">
                Type in the input below. Validation occurs on input blur event
            </div>
            <br>
        </div>
        <div class="row">
            <form name="demoForm" novalidate>
                <div class="col-xs-12">
                    <span>Input 1. Is required with maxlength=32</span>
                    <input type="text" ng-model="user.field" name="field_1" ng-validate="exampleStrategy2"/>
                </div>
                <div class="col-xs-12">
                    <span>Input 2. Should have minlength=8 and maxlength=32</span>
                    <input type="text" ng-model="user.field2" name="field_2" ng-validate="exampleStrategy3"/>
                </div>
                <div class="col-xs-12">
                    <span>Input 3. Optional. Same as Input 2</span>
                    <input type="text" ng-model="user.field3" name="field_3" ng-validate="exampleStrategy3" optional/>
                </div>
            </form>
            <button class="btn btn-default" ng-click="validate()">Broadcast ng-validate event</button>
            <div class="col-xs-12"><br/></div>
        </div>

        <div class="row">
            <div class="col-xs-6"><pre>demoForm.field_1 valid = {{demoForm.field_1.$valid}}</pre></div>
            <div class="col-xs-6"><pre>demoForm.field_2 valid = {{demoForm.field_2.$valid}}</pre></div>
            <div class="col-xs-6"><pre>demoForm valid = {{demoForm.$valid}}</pre></div>
        </div>

    </div>
  </div>


<!-- JAVASCRIPT -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
<script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
<script src="../src/ngValidate.js"></script>
<script src="demo-app.js"></script>
</body>
</html>
